<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header display-flex"><span _ngcontent-c1="" class="menu-trigger hidden-sm hidden-md hidden-lg"><a _ngcontent-c1="" id="hamburger"><span _ngcontent-c1=""></span></a>
            </span><img alt="logo" class="navbar-brand light-theme fade-animation" routerlink="/" src="../../assets/images/logo-text.png" tabindex="0"><img _ngcontent-c1="" alt="logo" class="navbar-brand dark-theme fade-animation hide" routerlink="/" src="../../assets/images/logo-dark.svg"
                tabindex="0">
            <!---->
            <div class="links clearfix hidden-sm hidden-md hidden-lg fade-animation ng-star-inserted">
                <li _ngcontent-c1="" class="book-now right"><a _ngcontent-c1="" class="active signup-btn green">Book Now</a></li>
            </div>
        </div>
        <div _ngcontent-c1="" class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul _ngcontent-c1="" class="nav navbar-nav navbar-right">
                <li><a fragment="tentgram-events" href="/home#tentgram-events">Events</a></li>
                <li><a _ fragment="tentgram-experience" href="/home#tentgram-experience">Experiences</a></li>
                <li><a href="/tentgram-card">Membership</a></li>
                <li><a href="/piggybank">Piggybank</a></li>
                <li><a href="/contact-us">Contact Us</a></li>
                <!---->
                <!---->
                <!---->
                <li class="login ng-star-inserted"><a>Login</a><span class="separator">/</span><a _ngcontent-c1="">Sign Up</a></li>
                <li class="book-now">
                    <!----><a class="active signup-btn green ng-star-inserted">Book Now</a></li>
                <!---->
            </ul>
        </div>
    </div>
</nav>
