<div>


    <hr style="border: 1px solid #393e46; width:95%" class="top">

    <div class="row">
        <div class=" col-md-4">


            <div class="vl">
                <div class="pad">
                    <img src="../assets/images/logo-dark.svg"><br><br><br>
                    <p>Tentgram is an outdoor recreational center which celebrates nature and it's inexplicable beauty.</p>
                </div>

            </div>

        </div>

        <div class=" col-md-4 vl row">
            <div class="col-md-1"></div>
            <div class="col-md-2" style="text-align:left">
                <br>
                <p style="font-weight: bold">Pages</p><br>
                <a href="http://localhost:4200/test">
                    <p>Home</p>
                </a>

                <p>Wayanad</p>
                <p>Munnar</p>
                <p>Alappuzha</p>
                <p>Himanchal</p>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-4" style="text-align:left"><br>
                <p class="top">Terms & Conditions</p>
                <p>Privacy Policy</p>
                <p>FAQ</p>
            </div>

        </div>

        <div class=" col-md-4 row">
            <div class="col-md-5"></div>
            <div style="margin-top:60px">
                <p style="font-weight: bold">Social Media</p>
                <span class="small">
              <a href="https://www.facebook.com/">
                <img src="../assets/images/fb-logo.svg" alt="Social" >
              </a>
                &nbsp;&nbsp;
              <a href="https://www.instagram.com/">
                <img src="../assets/images/insta-logo.svg" alt="Social">
              </a>

            </span>

            </div>

        </div>

    </div>
    <div class="top">
        <p style="text-align:center;">© 2020 Company Name. All rights reserved.</p>
    </div>


</div>
