<div style="background: #61b15a">
    <div style="padding-top:10px">
        <app-navbar></app-navbar>
    </div>
    <br><br><br><br><br>
    <div class="container" id="container">
        <div class="form-container sign-up-container">
            <form action="#">
                <h1>Create Account</h1>
                <div class="social-container">
                    <a href="#" class="social"><img src="https://cdn.svgporn.com/logos/google-icon.svg" alt=""></a>
                    <a href="#" class="social"><img src="https://cdn.svgporn.com/logos/instagram-icon.svg" alt=""></a>
                    <a href="#" class="social"><img src="https://cdn.svgporn.com/logos/facebook.svg" alt=""></a>
                </div>
                <span>or use your email for registration</span>
                <input type="text" placeholder="Name" />
                <input type="email" placeholder="Email" />
                <input type="password" placeholder="Password" />
                <button>Sign Up</button>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form action="#">
                <h1>Sign in</h1>
                <div class="social-container">
                    <a href="#" class="social"><img src="https://cdn.svgporn.com/logos/google-icon.svg" alt=""></a>
                    <a href="#" class="social"><img src="https://cdn.svgporn.com/logos/instagram-icon.svg" alt=""></a>
                    <a href="#" class="social"><img src="https://cdn.svgporn.com/logos/facebook.svg" alt=""></a>
                </div>
                <span>or use your account</span>
                <input type="email" placeholder="Email" />
                <input type="password" placeholder="Password" />
                <a href="#">Forgot your password?</a>
                <button>Sign In</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Welcome Back!</h1>
                    <p>To keep connected with us please login with your personal info</p>
                    <button class="ghost" id="signIn">Sign In</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Hello, Friend!</h1>
                    <p>Enter your personal details and start journey with us</p>
                    <button class="ghost" id="signUp">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <hr style="border: 1px solid #393e46; width:95%" class="top">

    <div class="row">
        <div class=" col-md-4">


            <div class="vl">
                <div class="pad">
                    <h1>Company Logo</h1><br><br><br>
                    <p>Tentgram is an outdoor recreational center which celebrates nature and it's inexplicable beauty.</p>
                </div>

            </div>

        </div>

        <div class=" col-md-4 vl row">
            <div class="col-md-1"></div>
            <div class="col-md-2" style="text-align:left">
                <br>
                <p style="font-weight: bold">Pages</p><br>
                <a href="http://localhost:4200/test">
                    <p>Home</p>
                </a>

                <p>Wayanad</p>
                <p>Munnar</p>
                <p>Alappuzha</p>
                <p>Himanchal</p>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-4" style="text-align:left"><br>
                <p class="top">Terms & Conditions</p>
                <p>Privacy Policy</p>
                <p>FAQ</p>
            </div>

        </div>

        <div class=" col-md-4 row">
            <div class="col-md-5"></div>
            <div style="margin-top:60px">
                <p style="font-weight: bold">Social Media</p>
                <span class="small">
                  <a href="https://www.facebook.com/">
                    <img src="../assets/images/fb-logo.svg" alt="Social" >
                  </a>
                    &nbsp;&nbsp;
                  <a href="https://www.instagram.com/">
                    <img src="../assets/images/insta-logo.svg" alt="Social">
                  </a>

                </span>

            </div>

        </div>

    </div>
    <div class="top">
        <p style="text-align:center;">© 2020 Company Name. All rights reserved.</p>
    </div>

</div>
