<div class="header">

    <mat-toolbar class="border">
        <span class="left">
          <a routerLink="/home">
            <img src="">Company Logo</a>

        </span>
        <span class="right"></span>

        <div class="font-color">
            <button mat-button>Experiences</button>
            <button mat-button>Events</button>
            <button mat-button style='margin-right:55px' routerLink="/contact" routerLinkActive="active">Contact Us</button>
            <button mat-button routerLink="/login" routerLinkActive="active">Login/Signup</button>
            <button mat-button class="signup">Book Now</button>

        </div>
    </mat-toolbar>

</div>
