<div>
    <div>
        <app-navbar></app-navbar>
    </div>
    <div style="padding-top:100px">
        <h1>
            Alappuzha
        </h1>
        <p>
            Alappuzha is home to the beautiful backwaters. This city is located in the South Indian state of kerala. Among the backwaters, Canals, houseboats, lagoons and picturesque beaches indeed justify the name Venice of the East. It is a very famous holiday
            destination for honeymoon couples, families and people those who want to unwind the city life
        </p>
    </div>
    <div>
        <app-footer> </app-footer>
    </div>
</div>
