<body>
    <div class="card">
        <div class="card-image"></div>
        <div class="card-text">
            <span class="date">4 days ago</span>
            <h2>Wayanad</h2>
            <p>The scenic drive through the trail to reach both Thollayiram (900) Kandi is every bit as intriguing and adventurous,even on a hot summer day weather inside the forest is cold.
            </p>
        </div>
        <div class="card-stats">
            <div class="stat">
                <div class="value">4<sup>m</sup></div>
                <div class="type">read</div>
            </div>
            <div class="stat border">
                <div class="value">5123</div>
                <div class="type">views</div>
            </div>
            <div class="stat">
                <div class="value">32</div>
                <div class="type">comments</div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-image card2"></div>
        <div class="card-text card2">
            <span class="date">1 week ago</span>
            <h2>Alappuzha</h2>
            <p>Alappuzha is an important tourist destination in India.It is considered to be the oldest planned city in this region & the lighthouse built on the coast of the town</p>
        </div>
        <div class="card-stats card2">
            <div class="stat">
                <div class="value">7<sup>m</sup></div>
                <div class="type">read</div>
            </div>
            <div class="stat border">
                <div class="value">7152</div>
                <div class="type">views</div>
            </div>
            <div class="stat">
                <div class="value">21</div>
                <div class="type">comments</div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-image card3"></div>
        <div class="card-text card3">
            <span class="date">3 week ago</span>
            <h2>Himanchal</h2>
            <p>This location is in Kutla of Tosh, Himachal Pradesh a farmland lying at the height of 9344 feet on top of a hill surrounded by mountains from all the sides.
            </p>
        </div>
        <div class="card-stats card3">
            <div class="stat">
                <div class="value">5<sup>m</sup></div>
                <div class="type">read</div>
            </div>
            <div class="stat border">
                <div class="value">3021</div>
                <div class="type">views</div>
            </div>
            <div class="stat">
                <div class="value">15</div>
                <div class="type">comments</div>
            </div>
        </div>
    </div>

</body>
