<div>
    <div>
        <app-navbar></app-navbar>
    </div>
    <div style="padding-top:100px">
        <h1>
            Kochi
        </h1>
        <p>

            Place which is known as the Queen of Arabian Sea. As its name denotes, it is a place with the splendor of a queen, which has marked its spot as a tourist place . Kochi is the paradise of tourists , as it reflects a cross section of real human life . The
            beauty of the beaches (sea shores ) and it quietness, shopping amenities provided by the vendors, its skyscrapers, and scenic beauty are really amazing factors to attracts tourists there .
        </p>
    </div>
    <div>
        <app-footer> </app-footer>
    </div>
</div>
