<div class="back">

    <div>
        <app-navbar></app-navbar>
    </div>

    <div class="down1">
        <h1 style="text-align:center;">Contact Us</h1>
        <p style="text-align:center">For any queries, please do contact our team</p>
    </div>

    <div class="centre">
        <mat-card class="example-card">

            <div class="col-md-12 row">
                <div class="col-md-4">
                    <h1>Contact Information</h1><br>

                    <div class="row">
                        <div class="material-icons">
                            place
                        </div>
                        <div class="col-md-1"></div>
                        <div>
                            <p>Address 1</p>
                            <p>Address 2</p>
                            <p>Address 3</p>
                        </div>


                    </div><br>
                    <div class="row">
                        <div class="material-icons">
                            email
                        </div>
                        <div class="col-md-1"></div>
                        <div>
                            <p>Email-Id</p>
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="material-icons">
                            phone
                        </div>
                        <div class="col-md-1"></div>
                        <div>
                            <p>Number 1</p>
                            <p>Number 2</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <h1>Get In Touch</h1>
                    </div>
                    <div class="row">
                        <mat-form-field appearance="legacy" style="width:350px !important">
                            <mat-label>Name</mat-label>
                            <input matInput>
                        </mat-form-field>
                        <div class="col-md-1"></div>
                        <mat-form-field appearance="legacy" style="width:350px !important">
                            <mat-label>Email</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div><br>
                    <div class="row">
                        <mat-form-field appearance="legacy" style="width:765px !important">
                            <mat-label>Subject</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div><br>
                    <div class="row">
                        <mat-form-field appearance="fill" style="width:765px !important">
                            <mat-label>Your Message</mat-label>
                            <textarea matInput></textarea>
                        </mat-form-field>
                    </div>
                </div>

            </div>






        </mat-card>

    </div>

    <app-footer></app-footer>

</div>
