<div>
    <div>
        <app-navbar></app-navbar>
    </div>
    <div style="padding-top:100px">
        <h1>
            Thiruvananthapuram
        </h1>
        <p>
            Thiruvananthapuram, the capital city of kerala, which is known as Gods own country, is highlighted place in the tourist map. This is not only a capital town, but also famous for tourist spot, which never frustrates people who reach their. Thiruvananthapuram
            is located in the southern part of kerala, and it is a wonderful place with sea shore where people can enjoy the breeze and chillness of mist. Ponmudi(Belongs to Hirange ) is really a beckoning place with it's natural beauty. Thiruvananthapuram
            is the only such a gorgeous place, where tourist can luxuriate, both the beauty of jungle and beaches. Thiruvananthapuram attracts people, as It combines the gallop of this area, along with its tranquility.
        </p>
    </div>
    <div>
        <app-footer> </app-footer>
    </div>
</div>
