.back {
    height: 722px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../assets/images/tea-plant.jpg");
    outline: 400px solid rgba(0, 0, 0, 0.6) !important;
    outline-offset: -400px;
}

.down {
    padding-top: 10px;
}

.place1 {
    margin: 20px;
}

.location {
    margin: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
}

.head {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times';
    font-size: 50px;
}

.example-card {
    width: 140px;
    height: 140px;
}

.example-card>p {
    font-size: 18px;
    color: #575656;
    text-transform: uppercase;
    font-family: 'Bebas Neue';
    text-align: center;
    margin: 10px auto 0;
    letter-spacing: 1px;
    font-weight: bold;
}

img {
    margin: auto;
    border-radius: 50%;
    position: relative;
    width: 140px;
    height: 140px;
}

.centre {
    justify-content: center;
}

.title {
    font-size: 42px;
    line-height: 56px;
    font-family: 'Playfair Display';
    font-weight: 400;
    color: #312e3a;
}

.description {
    font-size: 16px;
    font-family: 'IBM Plex Sans';
    line-height: 18px;
    color: #777;
}

.top {
    margin-top: 50px;
}

.vl {
    border-right: 1px solid #393e46;
    height: 200px;
}

.vl>div {
    text-align: center;
    justify-content: center;
}

.small>a>img {
    height: 25px;
    width: 25px;
    border-radius: 0%;
}
