.back {
    height: 722px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    outline: 400px solid rgba(0, 0, 0, 0.6) !important;
    outline-offset: -400px;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}


/* .left {
    width: 100%;
} */

.white-space {
    padding-left: 2%;
    /* padding-right: 12%; */
}


/* .flex-vertical {
    flex-direction: column;
} */

.display-flex {
    display: flex;
    /* justify-content: center; */
}

.banner-title {
    font-family: 'Playfair Display Bold';
    color: #fff;
    font-weight: 900;
    font-size: 5.5rem;
    position: absolute;
    /* margin: auto 0 0; */
    padding-top: 100px;
    padding-left: 90px;
}

.banner-description {
    font-family: 'IBM Plex Sans';
    font-size: 16px;
    line-height: 1.57;
    color: #fff;
    /* margin-top: 25rem; */
    /* margin-bottom: 2.5rem; */
    position: absolute;
    padding-top: 180px;
    padding-left: 90px;
}

.location {
    margin: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
}

.head {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times';
    font-size: 50px;
}

.example-card {
    width: 140px;
    height: 140px;
}

.example-card>p {
    font-size: 18px;
    color: #575656;
    text-transform: uppercase;
    font-family: 'Bebas Neue';
    text-align: center;
    margin: 10px auto 0;
    letter-spacing: 1px;
    font-weight: bold;
}

img {
    margin: auto;
    border-radius: 50%;
    position: relative;
    width: 140px;
    height: 140px;
}

.centre {
    justify-content: center;
}

.title {
    font-size: 42px;
    line-height: 56px;
    font-family: 'Playfair Display';
    font-weight: 400;
    color: #312e3a;
}

.description {
    font-size: 16px;
    font-family: 'IBM Plex Sans';
    line-height: 18px;
    color: #777;
}

.top {
    margin-top: 50px;
}

.loc-top {
    margin-top: 50px;
}

.location-tabs {
    position: absolute;
    width: 90%;
    height: 80px;
    bottom: 0;
    left: 5%;
}

.location-tabs>.location-tab {
    width: 25%;
    padding: 14px 40px;
    cursor: pointer;
}

p {
    margin-top: 0;
    font-size: 16px;
    font-family: 'Playfair Display Semi Bold';
    margin-bottom: 2px;
    color: #fff;
    opacity: 1;
}
