<div>
    <div class="back" style="background-image: url({{this.places}})">


        <div>
            <app-navbar></app-navbar>
        </div>
        <br><br>
        <div class="display-flex white-space">
            <div class="left">
                <h1 class="banner-title" tabindex="0">Alappuzha</h1>

                <h2 class="banner-description">
                    Alappuzha is home to the beautiful backwaters. This city is located in the South Indian state of kerala. Among the backwaters, Canals, houseboats, lagoons and picturesque beaches indeed justify the name Venice of the East. It is a very famous holiday
                    destination for honeymoon couples, families and people those who want to unwind the city life
                </h2>
            </div>
        </div>


        <div class=" location-tabs display-flex ">

            <div class="location-tab active " (click)="ChangeToAlapuzha()">
                <p>Alappuzha</p>
                <p>Kainakary</p>
            </div>

            <div class="location-tab " (click)=" ChangeToKochi()">
                <p>Kochi</p>
                <p>Lakshmi Hills</p>
            </div>

            <div class="location-tab " (click)="ChangeToKottayam()">
                <p>Kottayam</p>
                <p>Kainakary</p>
            </div>

            <div class="location-tab " (click)="ChangeToMunnar()">
                <p>Munnar</p>
                <p>Lakshmi Hills</p>
            </div>

            <div class="location-tab " (click)="ChangeToWayanad()">
                <p>Wayanad</p>
                <p>900 Kandi, Aranamala</p>
            </div>

            <div class="location-tab " (click)="ChangeToTrivandrum()">
                <p>Thiruvananthapuram</p>
                <p>900 Kandi, Aranamala</p>
            </div>
        </div>
    </div>


    <section class=" loc-top ">
        <div class="row ">
            <div class="col-1 "></div>
            <div>
                <p class="title ">
                    Our Locations
                </p>
                <p class="description ">
                    Browse our destinations for your holiday.
                </p>
            </div>
        </div>
        <br>
        <div class="container ">
            <div fxLayout="row ">
                <div fxFlex="25% " *ngFor="let card of cards ">
                    <div class="example-card ">
                        <img [src]="card.img ">
                        <p>{{card.title}}</p>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </section>

    <section class="top ">
        <div class="row ">
            <div class="col-1 "></div>
            <div>
                <p class="title ">
                    Popular Experiences
                </p>
                <p class="description ">
                    Browse exciting, adventurous and fun-filled activities for your holiday.
                </p>
            </div>
        </div>
        <app-carousal></app-carousal>
    </section>



    <section class="top ">
        <div class="row ">
            <div class="col-1 "></div>
            <div>
                <p class="title ">
                    FreeWibe Events
                </p>
                <p class="description ">
                    Browse supercool events from the Tentgram family.
                </p>
            </div>

        </div>
        <app-carousal1></app-carousal1>
    </section>

    <app-footer></app-footer>

</div>
