<div>
    <div class="back">

        <div class="down">
            <app-navbar></app-navbar>
        </div>
        <br><br>
        <div class="place1 row">
            <div class="col-1"></div>
            <h2 class="head" style="margin-top: 50px;">Wayanad</h2>
        </div>
        <div class="place1 row">
            <div class="col-1 "></div>
            <p style="color:white; width: 552px;">
                The scenic drive through the trail to reach both Thollayiram (900) Kandi and Aranamala, is every bit as intriguing and adventurous, even on a hot summer day weather inside the forest is cold and refreshing which makes both places a wonderland.
            </p>
        </div>
    </div>


    <section class=" top">
        <div class="row">
            <div class="col-1"></div>
            <div>
                <p class="title">
                    Our Locations
                </p>
                <p class="description">
                    Browse our destinations for your holiday.
                </p>
            </div>
        </div>
        <div class="container">
            <div fxLayout="row ">
                <div fxFlex="25%" *ngFor="let card of cards">
                    <div class="example-card">
                        <img [src]="card.img">
                        <p>{{card.title}}</p>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </section>

    <section class="top">
        <div class="row">
            <div class="col-1"></div>
            <div>
                <p class="title">
                    Popular Experiences
                </p>
                <p class="description">
                    Browse exciting, adventurous and fun-filled activities for your holiday.
                </p>
            </div>
        </div>
        <app-carousal></app-carousal>
    </section>



    <section class="top">
        <div class="row">
            <div class="col-1"></div>
            <div>
                <p class="title">
                    Tentgram Events
                </p>
                <p class="description">
                    Browse supercool events from the Tentgram family.
                </p>
            </div>

        </div>
        <app-carousal1></app-carousal1>
    </section>

    <app-footer></app-footer>

</div>
